.Movies {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 960px;
    list-style: none;
}

.Movie {
    flex: 1 1 0;
    flex-basis: 33%;
    margin: 40px 0px;
}

.Movie__Poster__Image {
    box-shadow: 0 0 60px 1px rgba(100,100,100,.6);
}

.MovieRatingFilter__Label {
    font-size: 20px;
    margin: 0 20px 0 0;
}

.MovieRatingFilter__Input {
    font-size: 28px;
    padding: 4px 8px;
}